WebApp/src/conf/xml-resources/web-service-references/publicador/wsdl/localhost_9130/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://Publicador/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Publicador/">

<xs:complexType name="arrayList">
<xs:complexContent>
<xs:extension base="tns:abstractList">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractList" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractCollection">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractCollection" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="hashMap">
<xs:complexContent>
<xs:extension base="tns:abstractMap">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractMap" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence>
<xs:element name="suscripcion" type="tns:suscripcion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="usuario" abstract="true">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contraseña" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaDeNacimiento" type="tns:fecha" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="mail" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suscripcion">
<xs:sequence>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"></xs:element>
<xs:element name="costo" type="xs:float"></xs:element>
<xs:element name="estado" type="tns:estadosDeSuscripcion" minOccurs="0"></xs:element>
<xs:element name="fechaDeInicio" type="tns:fecha" minOccurs="0"></xs:element>
<xs:element name="fechaDeVencimiento" type="tns:fecha" minOccurs="0"></xs:element>
<xs:element name="tipo" type="tns:tiposDeSuscripcion" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fecha">
<xs:sequence>
<xs:element name="año" type="xs:int"></xs:element>
<xs:element name="dia" type="xs:int"></xs:element>
<xs:element name="mes" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCliente">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtUsuario">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="artista">
<xs:complexContent>
<xs:extension base="tns:usuario">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="album">
<xs:sequence>
<xs:element name="anio" type="xs:int"></xs:element>
<xs:element name="artista" type="tns:artista" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="img" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataSession">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:simpleType name="estadosDeSuscripcion">
<xs:restriction base="xs:string">
<xs:enumeration value="Pendiente"></xs:enumeration>
<xs:enumeration value="Vigente"></xs:enumeration>
<xs:enumeration value="Vencida"></xs:enumeration>
<xs:enumeration value="Cancelada"></xs:enumeration>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="tiposDeSuscripcion">
<xs:restriction base="xs:string">
<xs:enumeration value="Semanal"></xs:enumeration>
<xs:enumeration value="Mensual"></xs:enumeration>
<xs:enumeration value="Anual"></xs:enumeration>
</xs:restriction>
</xs:simpleType>
</xs:schema>